In [7]:
import pandas as pd
data = pd.read_excel('fertlizer.xlsx', index_col=0)
data

        variety_1  variety_2  variety_3
Type_1         64         72         74
Type_2         55         57         47
Type_3         59         66         58
Type_4         58         57         53

In [8]:
def compute_anova_parameter(data):
    # Compute the sum of all data in column
    variety_sum = data.sum()
    #compute the sum of all data in row
    type_sum = data.sum(axis=True)
    
    #NUmber of ligne of data
    nbre_row = data.shape[0]
    #Number of column of data
    nbre_column = data.shape[1]
    
    #Correlation Factor
    correlation_factor = type_sum.sum()**2/(nbre_column*nbre_row)
    
    # Total sum of square
    sst = (data**2).sum().sum() - correlation_factor
    
    # Total sum of square of row effect
    ssr = (type_sum**2).sum()/nbre_column - correlation_factor
    
    # Total sum of squares of column effect
    ssc = (variety_sum**2).sum()/nbre_row - correlation_factor
    
    # Sum square Error
    sse = sst-ssc-ssr
    
    # Mean Square Column
    msc = ssc/(nbre_column-1)
    
    # Mean square Row
    msr = ssr/(nbre_row-1)
    
    #Mean Square Error
    mse = sse/((nbre_column-1)*(nbre_row-1))
    
    # Calculation of Fisher parameter
    Fc = round(msc/mse,3)
    Fr = round(msr/mse,3)
    return {"Fc":Fc, "Fr":Fr}
    
print(compute_anova_parameter(data))

{'Fc': 1.556, 'Fr': 9.222}